.hexagon-item-container-before,
.hexagon-item-container-after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}

.hexagon-item-container-before::before,
.hexagon-item-container-after::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 866px solid transparent;
  border-bottom: 866px solid transparent;
}

.hexagon {
  width: 100%;
  padding-top: 14.4333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hexagon-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hexagon-wrapper:nth-child(2n) {
  margin-top: -14.4333333333%;
}

.hexagon-item {
  position: relative;
  width: 100%;
  margin-bottom: 25%;
  padding-top: 86.6%;
}

.hexagon-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hexagon-item-container:active .hexagon-item-container-content {
  background-color: #7BDCB5;
}

.hexagon-item-container:active .hexagon-item-container-before::before {
  border-right-color: #7BDCB5;
}

.hexagon-item-container:active .hexagon-item-container-after::before {
  border-left-color: #7BDCB5;
}

.hexagon-item-container-before::before {
  border-right: 500px solid #00D084;
  left: 0;
}

.hexagon-item-container-content {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background: #00D084;
}

.hexagon-item-container-after::before {
  border-left: 500px solid #00D084;
  right: 0;
}