.hexagon {
  width: 100%;
  padding-top: 16.666666vw;
}

.hexagon-item {
  position: relative;
  float: left;
  width: 33.333333%;
  padding-top: 28.866667%;
}

.hexagon-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hexagon-item-container-before {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}

.hexagon-item-container-before::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 519.6px solid transparent;
  border-bottom: 519.6px solid transparent;
  border-right: 300px solid #249ff1;
  margin-right: -519.6px;
  margin-top: -300px;
}

.hexagon-item-container-content {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background: #00D084;
}

.hexagon-item-container-after {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}