$color:rgba(76, 147, 254, 1);

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 100px auto;
  font-size: 30px;
  border: solid 1px #ccc;
  color: transparent;
  letter-spacing: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #ccc;
  background-image: linear-gradient(to right, $color, $color);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: gradient 3s linear 1s infinite;
}

@keyframes gradient {
  from {
    background-size: 0;
  }

  to {
    background-size: 100%;
  }
}
