$backgroundColor: #00D084;
$activeColor: #7BDCB5;
$triangle-height: 500px; // 两侧三角形的高，足够大
$triangle-half-bottom: $triangle-height * 1.732; //两侧三角形二分之一底，底与高比为 (2 * √3) : 1
%triangle-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}

%triangle {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: $triangle-half-bottom solid transparent;
  border-bottom: $triangle-half-bottom solid transparent;
}

.hexagon {
  $padding-top: 100% / 3 / 2 * 1.732 / 2;
  width: 100%;
  padding-top: $padding-top;
  display: flex;
  &-wrapper {
    flex: 1;
    &:nth-child(2n) {
      margin-top: -$padding-top;
    }
  }
  &-item {
    $a: 100% / 2; // 正六边形边长
    $height: $a * 1.732; // 正六边形边高
    position: relative;
    width: 100%;
    margin-bottom: $a / 2;
    padding-top: $height;
    &-container {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &:active &-content {
        background-color: $activeColor;
      }
      &:active &-before {
        &::before {
          border-right-color: $activeColor;
        }
      }
      &:active &-after {
        &::before {
          border-left-color: $activeColor;
        }
      }
      &-before {
        @extend %triangle-container;
        &::before {
          @extend %triangle;
          border-right: $triangle-height solid $backgroundColor;
          left: 0;
        }
      }
      &-content {
        flex: 2;
        background: $backgroundColor;
      }
      &-after {
        @extend %triangle-container;
        &::before {
          @extend %triangle;
          border-left: $triangle-height solid $backgroundColor;
          right: 0;
        }
      }
    }
  }
}
