$backgroundColor: #00D084;
$activeColor: #7BDCB5;
%triangle {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: calc(50% * 1.732) solid transparent;
  border-bottom: calc(50% * 1.732) solid transparent;
}

.hexagon {
  width: 100%;
  padding-top: 16.666666vw;
  &-item {
    position: relative;
    float: left;
    width: 33.333333%;
    padding-top: 28.866667%; // width / 2 * √3
    &-container {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &-before {
        flex: 1;
        overflow: hidden;
        &::before {
          $height: 300px; // 足够大
          $bottom: $height * 1.732; //底与高比为 (2 * √3) : 1
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: $bottom solid transparent;
          border-bottom: $bottom solid transparent;
          border-right: $height solid #249ff1;
          margin-right: -$bottom;
          margin-top: -$height;
        }
      }
      &-content {
        flex: 2;
        background: $backgroundColor;
      }
      &-after {
        flex: 1;
      }
    } // &:active {
    //   background-color: $activeColor;
    //   &::before {
    //     border-right-color: $activeColor;
    //   }
    //   &::after {
    //     border-left-color: $activeColor;
    //   }
    // }
    // &::before {
    //   // @extend %triangle;
    //   // right: 100%;
    //   // border-right: calc(50% * 1.732 / 2) solid $backgroundColor;
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 100%;
    //   width: 50%;
    //   height: 100%;
    //   background-color: #ccc;
    //   &::before {
    //     content: '';
    //     display: block;
    //     width: 0;
    //     height: 0;
    //     border-top: 500 * 2 * 1.732px solid transparent;
    //     border-bottom: 500 * 2 * 1.732px solid transparent;
    //     border-right: 500px solid $backgroundColor;
    //   }
    // }
    // &::after {
    //   @extend %triangle;
    //   left: 100%;
    //   border-left: calc(50% * 1.732 / 2) solid $backgroundColor;
    // }
  }
}
